<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  
<meta content="XcPhoKuXIs2rL4vsoBlrLOdKXY2pPw+XWrUKoGEW5b8=" name="csrf-token" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" media="screen" rel="stylesheet" />
  <script type="text/javascript" src="communication.js"></script>
  <link href="/assets/style.css?body=1" media="screen" rel="stylesheet" />
</head>
<body>

<!--=== End Top ===-->
  <!--=== Top ===-->
<div class="browse">
  <div class="container">
    <ul>
      <li><a href="/categories/1">Art</a></li>
      <li><a href="/categories/2">Home &amp; Living</a></li>
      <li><a href="/categories/3">Jewelry</a></li>
      <li><a href="/categories/4">Women</a></li>
      <li><a href="/categories/5">Men</a></li>
      <li><a href="/categories/6">Kids</a></li>
      <li><a href="/categories/7">Vintage</a></li>
      <li><a href="/categories/8">Weddings</a></li>
      <li><a href="/categories/9">Crafts</a></li>
    </ul>
  </div>
</div>

<div class="top">
    <div class="container">
    <div class="logo">
      <img src="https://www.etsy.com/assets/dist/images/etsylogo.20140703190113.png">
    </div>
    <div>
        <ul class="header-nav">
              <% if user_signed_in? %>
              Logged in as <strong>
                <%= current_user.email %>
              </strong>.
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default" %>
              <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>
            <% end %>
            <li class="account">
              <div class="cart pull-right">
                <div class="fa fa-shopping-cart fa-2x">
                </div>
              </div>
          </li>
        </ul>
    </div>
</div>




<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Shop directly from people around the world.</h1>
      </div>
    </div>
  </div>
</div>

<div class="trending">
  <div class="container">
    <h2>Recent Favorites</h2>
    <p>Discover finds from around the marketplace.</p>
    <div class="row trending-listing">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://img1.etsystatic.com/034/0/6705395/il_340x270.542888787_ggy4.jpg">
          <div class="caption">
            <span class="listing-title">Large gold leather bag</span>
            <span class="listing-price">$100.00</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://img1.etsystatic.com/010/0/6957353/il_340x270.427320275_pxiv.jpg">
          <div class="caption">
            <span class="listing-title">Large gold leather bag</span>
            <span class="listing-price">$15.00</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="https://img1.etsystatic.com/038/0/6566540/il_340x270.566511947_1r1t.jpg">
          <div class="caption">
            <span class="listing-title">Large gold leather bag</span>
            <span class="listing-price">$160.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'All categories', categories_path %>
<br>


<%= link_to 'All products', products_path %>
<br>
</div>




<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li><h4>Get to Know Us</h4></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Developers</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><h4>Follow Andrii on</h4></li>
          <li><a href="https://www.facebook.com/volandy"><i class="fa fa-facebook-square fa-lg"></i> Facebook</a></li>
          <li><a href="https://twitter.com/volandy"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
          <li><a href="https://vk.com/volckov"><i class="fa fa-pinterest-square fa-lg"></i> Vkontakte</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



</body>
</html>